<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mygento\ImportExport\Api\ImportInterface" type="Mygento\ImportExport\Model\Import" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mygento_importexport_product" xsi:type="object">Mygento\ImportExport\Command\RegenerateProductUrl</item>
            </argument>
        </arguments>
    </type>
</config>
