<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mygento\ImportExport\Api\ImportInterface" type="Mygento\ImportExport\Model\Import" />
    <preference for="Mygento\ImportExport\Api\AttributeInterface" type="Mygento\ImportExport\Model\Product\Attribute" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mygento_importexport_product" xsi:type="object">Mygento\ImportExport\Command\RegenerateProductUrl</item>
                <item name="mygento_importexport_category" xsi:type="object">Mygento\ImportExport\Command\RegenerateCategoryUrl</item>
            </argument>
        </arguments>
    </type>

    <type name="Mygento\ImportExport\Command\RegenerateCategoryUrl">
        <arguments>
            <argument name="catUrlGenerator" xsi:type="object">Magento\CatalogUrlRewrite\Model\CategoryUrlRewriteGenerator\Proxy</argument>
            <argument name="urlPersist" xsi:type="object">Magento\UrlRewrite\Model\UrlPersistInterface\Proxy</argument>
            <argument name="emulation" xsi:type="object">Magento\Store\Model\App\Emulation\Proxy</argument>
        </arguments>
    </type>

    <type name="Mygento\ImportExport\Command\RegenerateProductUrl">
        <arguments>
            <argument name="productUrlGenerator" xsi:type="object">Magento\CatalogUrlRewrite\Model\ProductUrlRewriteGenerator\Proxy</argument>
            <argument name="urlPersist" xsi:type="object">Magento\UrlRewrite\Model\UrlPersistInterface\Proxy</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
